<h1>メッセージ一覧</h1>

<ul>
  <% @tasks.each do |tasks| %>
    <li><%= link_to tasks.id, tasks %> : <%= tasks.content %></li>
  <% end %>
</ul>
<%= link_to '新規タスクの投稿', new_tasks_path %>
<%= link_to 'このタスクを削除する', @tasks, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
